<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScoreSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScoreSystem.styles.css" asp-append-version="true" />
</head>
<body>

    <div id="retanguloFundo"></div>
    <div class="conteudoPagina container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none text-light fw-bold h4">
                    MIDAS
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item">
                    <a class="nav-link px-1 text-light" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-light" asp-area="" asp-controller="Cupons" asp-action="Lista">Cupons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-light" asp-area="" asp-controller="Recompensas" asp-action="Lista">Recompensas</a>
                </li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-sm btn-outline-light me-2">Entrar</button>
                <button type="button" class="btn btn-sm btn-warning">Cadastrar</button>
            </div>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()

        </main>


        <footer class="border-top footer text-muted">
        </footer>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
