<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScoreSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScoreSystem.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>

    <div id="retanguloFundo" class="shadow"></div>

    <div class="conteudoPagina container">


        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="titulo d-inline-flex link-body-emphasis text-decoration-none text-light fw-bold h4 m-0">
                    Midas
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item">
                    <a class="nav-link px-1 text-light" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-light" asp-area="" asp-controller="Cupons" asp-action="Lista">Cupons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-light" asp-area="" asp-controller="Recompensas" asp-action="Lista">Recompensas</a>
                </li>
            </ul>

            <div class="col-md-3 text-end">
                <a type="button" class="btn btn-sm btn-outline-light me-2" asp-area="" asp-controller="Usuarios" asp-action="Login">Entrar</a>
                <a type="button" class="btn btn-sm btn-warning" asp-area="" asp-controller="Usuarios" asp-action="Cadastro">Cadastrar</a>
            </div>
        </header>


        <main role="main" class="pb-3">
            @RenderBody()

        </main>


        <footer class="border-top d-flex flex-wrap justify-content-between align-items-center py-3 px-2 my-4 border-top border-secondary">
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <a href="/"
                   class="titulo d-inline-flex link-body-emphasis text-decoration-none text-secondary fw-bold h5 m-0">
                    Midas
                </a>
                <span class="mb-3 mb-md-0  text-secondary">&ensp;| 2023 Projeto Integrador III - Fatec Taquaritinga</span>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-end gap-2  text-secondary">
                <a href="https://br.linkedin.com/"
                   class="mb-3 mb-md-0 text-body-secondary text-decoration-none text-secondary">
                    João Bernardelli
                </a>
                |
                <a href="https://br.linkedin.com/"
                   class="mb-3 mb-md-0 text-body-secondary text-decoration-none text-secondary">
                    Samuel Rosales
                </a>
                |
                <a href="https://br.linkedin.com/"
                   class="mb-3 mb-md-0 text-body-secondary text-decoration-none text-secondary">
                    Thais Oliveira
                </a>
            </div>
        </footer>


    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
