html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    width: 100%;
    /*overflow: hidden;*/
}

body {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    background-color: #E1DEE6;
}

#retanguloFundo {
    background-color: #14213D;
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.titulo {
    font-family: 'Comfortaa', cursive;
}

#conteudoPagina {
    z-index: 1;
    position: relative;
}

#cartaoUsuario {
    height: 100%;
}

table {
    font-size: 13px
}

/* TELA DE CADASTRO */
.BtnCancelar {
    min-width: 90px;
}

button.BtnSalvar, a.BtnSalvar {
    min-width: 90px;
}

.DescTextarea {
    height: 200px;
}


/* TELA DE LOGIN  E CADASTRO*/
body.FundoLogin {
    background-color: #14213D;
}

div#cardLogin {
    min-width: 400px;
    min-height: 400px;
}

div#cardCadastro {
    min-width: 400px;
    min-height: 400px;
}

/*TELE DE INFORMAÇOES*/
.listInfo {
    padding-left: 5px;
}

ul.listInfo > li::marker {
    content: none;
}

#CardCupom,
#CardRecompensa {
    height: 350px;
}

/*BARRA DE ROLAGEM*/
* {
    scrollbar-width: thin;
    scrollbar-color: #14213D #DFE9EB;
}

    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
        width: 10px;
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #DFE9EB;
    }

        *::-webkit-scrollbar-track:hover {
            background-color: #B8C0C2;
        }

        *::-webkit-scrollbar-track:active {
            background-color: #B8C0C2;
        }

    *::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #14213D;
    }

        *::-webkit-scrollbar-thumb:hover {
            background-color: #263F74;
        }

        *::-webkit-scrollbar-thumb:active {
            background-color: #3A60B2;
        }
