html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    background-color: #E1DEE6;
}

#retanguloFundo {
    background-color: #14213D;
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.titulo {
    font-family: 'Comfortaa', cursive;
}

#conteudoPagina {
    z-index: 1;
    position: relative;
}

#cartaoUsuario {
    height: 100%;
}

table {
    font-size: 13px
}

/* TELA DE CADASTRO */
.BtnCancelar {
    min-width: 90px;
}

button.BtnSalvar, a.BtnSalvar {
    min-width: 90px;
}

.DescTextarea {
    height: 200px;
}


/* TELA DE LOGIN */
body.FundoLogin {
    background-color: #14213D;
}

div#cardLogin {
    min-width: 400px;
    min-height: 400px;
}

div#cardCadastro {
    min-width: 400px;
    min-height: 400px;
}
