@{
    ViewData["Title"] = "Informações da Empresa";
}
<h3 class="ms-2 text-light"><i class="bi bi-building-fill"></i> Informações da Empresa</h3>

<form action="/Empresa/SalvarDados" method="post">

    <div class="card shadow">
        <div class="card-body">

            <div class="row g-2">

                <div class="col-12 col-lg-9">
                    <label for="titulo" class="form-label m-1">Nome</label>
                    <input type="text" name="titulo" class="form-control form-control-sm" id="titulo">
                </div>

                <div class="col-6 col-lg-3">
                    <label for="titulo" class="form-label m-1">CNPJ</label>
                    <input type="text" name="titulo" class="form-control form-control-sm" id="titulo">
                </div>


                <div class="col-12 col-lg-9">
                    <label for="titulo" class="form-label m-1">Email</label>
                    <input type="email" name="titulo" class="form-control form-control-sm" id="titulo">
                </div>
                <div class="col-6 col-lg-1">
                    <label for="titulo" class="form-label m-1">DDD</label>
                    <input type="text" name="titulo" class="form-control form-control-sm" id="titulo">
                </div>
                <div class="col-6 col-lg-2">
                    <label for="titulo" class="form-label m-1">Telefone</label>
                    <input type="tel" name="titulo" class="form-control form-control-sm" id="titulo">
                </div>

                <div class="col-6 col-lg-4">
                    <label for="titulo" class="form-label m-1">Logradouro</label>
                    <input type="text" name="titulo" class="form-control form-control-sm" id="titulo">
                </div>
                <div class="col-6 col-lg-1">
                    <label for="titulo" class="form-label m-1">Numero</label>
                    <input type="text" name="titulo" class="form-control form-control-sm" id="titulo">
                </div>
                <div class="col-6 col-lg-3">
                    <label for="titulo" class="form-label m-1">Bairro</label>
                    <input type="text" name="titulo" class="form-control form-control-sm" id="titulo">
                </div>

                <div class="col-6 col-lg-3">
                    <label for="titulo" class="form-label m-1">Cidade</label>
                    <input type="text" name="titulo" class="form-control form-control-sm" id="titulo">
                </div>
                <div class="col-6 col-lg-1">
                    <label for="titulo" class="form-label m-1">Uf</label>
                    <input type="text" name="titulo" class="form-control form-control-sm" id="titulo">
                </div>



            </div>

        </div>

        <div class="card-footer">

            <div class="row g-2">

                <div class="col-6">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Ativado
                        </label>
                    </div>

                </div>

                <div class="col-6 d-inline-flex justify-content-end gap-2">

                    <a href="/Cupons/Lista" class="btn btn-sm btn-outline-danger BtnCancelar">Cancelar</a>
                    <button type="submit" class="btn btn-sm btn-success BtnSalvar">Salvar</button>

                </div>

            </div>

        </div>

    </div>

</form>