@model ScoreSystem.Models.UsuariosViewModel
﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScoreSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScoreSystem.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body class="FundoLogin">

    <div class="position-absolute top-50 start-50 translate-middle ">
        <div id="cardLogin" class="card shadow-lg">
            <div class="card-body">
                <h3>Cadastrar</h3>
                <div id="register-container" class="mt-2">
                    <i>Já possue conta?</i>
                    <a href="/Usuarios/Login" class="link-primary text-decoration-none">Entrar</a>
                </div>
                <hr />
                <form action="/Usuarios/SalvarDados" class="d-flex flex-column gap-3" method="post" onsubmit="return Validacao()">
                    <section>
                        <label for="Nome">
                            Nome
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="NOME" id="Nome" class="form-control shadow-sm"
                               autocomplete="off">
                    </section>
                    <section>
                        <label for="cpf">
                            CPF
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="CPF" id="Cpf" class="form-control shadow-sm"
                               autocomplete="off">
                    </section>
                    <section>
                        <label for="email">
                            Email
                            <span class="text-danger">*</span>
                        </label>
                        <input type="email" name="EMAIL" id="Email" class="form-control shadow-sm"
                               autocomplete="off">
                    </section>
                    <section>
                        <label for="password">
                            Senha
                            <span class="text-danger">*</span>
                        </label>
                        <input type="password" name="SENHA" id="Senha" class="form-control shadow-sm"
                               autocomplete="off">
                    </section>
                    <section>
                        <label for="password">
                            Confirmar Senha
                            <span class="text-danger">*</span>
                        </label>
                        <input type="password" name="SENHA" id="Senha2" class="form-control shadow-sm"
                               autocomplete="off">
                    </section>

                    <input class="btn btn-success shadow" type="submit" value="Cadastrar">
                </form>

            </div>
        </div>
        <div class="card bg-warning bg-gradient text-dark mt-2">
            <div class="card-body">
                <b class="titulo">Midas </b>
                <i> - 2023</i>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/sweet-alert/sweetalert.min.js"></script>
    <script src="~/lib/jquery-mask/jquery.mask.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('input[name="CPF"]').mask('000.000.000-00');
    </script>

  
    @section Scripts{
        <script src="~/lib/sweet-alert/sweetalert.min.js"></script>
        <script>
            function Validacao() {
                if ($("#Nome").val() == "") {
                    swal("Atenção", "O campo Nome não pode está vazio!", "warning");
                    return false;
                } else if ($("#Cpf").val() == "") {
                    swal("Atenção", "O campo CPF não pode está vazio!", "warning");
                    return false;
                } else if ($("#Tipo").val() == "") {
                    swal("Atenção", "O campo Tipo não pode está vazio!", "warning");
                    return false;
                } else if ($("#Email").val() == "") {
                    swal("Atenção", "O campo Email não pode está vazio!", "warning");
                    return false;
                }
                else if ($("#Senha").val() == "") {
                    swal("Atenção", "O campo Senha não pode está vazio!", "warning");
                    return false;

                } else if ($("#Senha2").val() == "") {
                    swal("Atenção", "O campo Confirmar Senha não pode está vazio!", "warning");
                    return false;
                }

                if ($("#Senha").val() != $("#Senha2").val()) {

                    swal("Atenção", "As senhas não são iguais!", "warning");
                    return false;
                }
            }
        </script>
    }
</body>
</html>
