<div class="card">
    <div class="card-body">
        <h1 class="text-center" style="font-size: 100px">
            <i class="bi bi-exclamation-triangle-fill"></i>
        </h1>
        <h1 class="text-center">Acesso Negado</h1>
        <hr />
        <p class="text-center text-secondary">
            Usuario Não tem Acesso a esssa Pagina
        </p>
    </div>
</div>