@{
    ViewData["Title"] = "Cadastro de Cupons";
}

<h3 class="ms-2 text-light"><i class="bi bi-bookmark-fill"></i> Cadastro de Cupons</h3>

<form action="/Cupons/SalvarDados" method="post" onsubmit="return Validacao()">

    <div class="card shadow">
        <div class="card-body">

            <div class="row g-2">

                <div class="col-12 col-lg-7">
                    <label for="titulo" class="form-label m-1">Titulo do Cupom</label>
                    <input type="text" name="TITULO" class="form-control form-control-sm" id="Titulo">
                </div>
                <div class="col-6 col-lg-1">
                    <label for="Ponto" class="form-label m-1">Pontos</label>
                    <input type="text" name="PONTO" class="form-control form-control-sm" id="Ponto">
                </div>

                <div class="col-6 col-lg-2">
                    <label for="DtVencimento" class="form-label m-1">Vencimento</label>
                    <input type="datetime-local" name="DT_VENCIMENTO" class="form-control form-control-sm" id="DtVencimento">
                </div>

                <div class="col-12">
                    <label for="Descricao" class="form-label m-1">Descrição do Cupom</label>
                    <textarea class="form-control DescTextarea" name="DESCRICAO" id="Descricao" rows="3"></textarea>
                </div>


            </div>

        </div>

        <div class="card-footer">

            <div class="row g-2">

                <div class="col-6">

                    <div class="form-check">
                        <input class="form-check-input" name="ATIVO" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Ativado
                        </label>
                    </div>

                </div>

                <div class="col-6 d-inline-flex justify-content-end gap-2">

                    <a href="/Cupons/Lista" class="btn btn-sm btn-outline-danger BtnCancelar">Cancelar</a>
                    <button type="submit" class="btn btn-sm btn-success BtnSalvar">Salvar</button>

                </div>

            </div>

        </div>

    </div>

</form>

@section Scripts{
    <script src="~/lib/sweet-alert/sweetalert.min.js"></script>
    <script>
        function Validacao() {
            if ($("#Titulo").val() == "") {
                swal("Erro", "O campo Titulo não pode está vazio!", "error");
                return false;
            } else if ($("#Ponto").val() == "")
            {
                swal("Erro", "O campo Ponto não pode está vazio!", "error");
                return false;
            }
            else if ($("#DtVencimento").val() == "") {
                swal("Erro", "O campo Data Vencimento não pode está vazio!", "error");
                return false;

            } else if ($("#Descricao").val() == "") {
                swal("Erro", "O campo Descrição não pode está vazio!", "error");
                return false;
            }

        }
    </script>
                            }