@{
    ViewData["Title"] = "Visualizar Cupom";
}
@model ScoreSystem.Entidades.Cupom

<h3 class="ms-2 text-light">Titulo do Cupom</h3>
<div class="row g-2">
    <div class="col-12 col-lg-9">
        <div class="card shadow h-100">
            <div class="card-body">
                <ul class="listInfo">
                    <li>
                        <span class="badge bg-success rounded-3">@Model.PONTO pts</span>
                    </li>
                    <li><b>Validade:</b> @Model.DT_VENCIMENTO</li>
                    <li>
                        <b>Descrição:</b><br />@Model.DESCRICAO
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card shadow h-100">
            <div class="card-body">
                <p class="fs-2 mb-0 text-primary text-center fw-bold">#30258</p>
                <hr />

            </div>
        </div>
    </div>

</div>

