@{
    ViewData["Title"] = "Visualizar Cupom";
}

<h3 class="ms-2 text-light">Titulo do Cupom</h3>
<div class="row g-2">
    <div class="col-12 col-lg-9">
        <div class="card shadow h-100">
            <div class="card-body">
                <ul class="listInfo">
                    <li>
                        <span class="badge bg-success rounded-3">+35 Pontos</span>
                    </li>
                    <li><b>Tipo de Cupom:</b> Natal</li>
                    <li><b>Validade:</b> 03/05/2023</li>
                    <li>
                        <b>Descrição:</b><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra ullamcorper augue, pulvinar mattis urna tincidunt id. Fusce vitae diam consequat, porttitor nibh nec, lobortis nibh. Cras ornare id arcu sed maximus. Suspendisse eget blandit magna. Nam eu posuere massa. Vestibulum sodales tellus ut pharetra semper. Etiam nec ultrices sem. Mauris nec scelerisque dui. Pellentesque tempus et ipsum in aliquam. Sed a quam id ipsum fringilla blandit. Sed auctor sapien eget erat vulputate, a consectetur metus maximus. Curabitur sollicitudin sapien tellus, eget placerat metus feugiat ac. Ut ac faucibus quam, eu scelerisque sapien.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card shadow h-100">
            <div class="card-body">
                <p class="fs-2 mb-0 text-primary text-center fw-bold">#30258</p>
                <hr />
                
            </div>
        </div>
    </div>

</div>

